
Bikee/Bikee.Web.Tests/bin
Bikee/Bikee.Web.Tests/obj
Bikee/Bikee/bin
Bikee/Bikee/obj
*.user

*.suo
Bikee/Bikee.Web/bin
Bikee/Bikee.Web/obj
Bikee/Bikee.Security/obj
Bikee/Bikee.Security/bin
Bikee/Bikee.Security.Tests/obj
Bikee/Bikee.Security.Tests/bin
Bikee/Bikee.Security.Mongo/obj
Bikee/Bikee.Security.Mongo.Tests/obj