*.user
*.suo
Bikee/src/Bikee.Web/bin
Bikee/src/Bikee.Web/obj
Bikee/src/Bikee.Web.Tests/bin
Bikee/src/Bikee.Web.Tests/obj
Bikee/src/Bikee.Security.Mongo/bin
Bikee/src/Bikee.Security.Mongo/obj
Bikee/src/Bikee.Security.Mongo.Tests/bin
Bikee/src/Bikee.Security.Mongo.Tests/obj