<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="mongo" connectionString="mongodb://localhost" />
	</connectionStrings>
	<appSettings>
		<add key="testDatabaseName" value="bikee_test"/>
		<add key="FluentAssertions.TestFramework" value="nunit"/>
	</appSettings>
</configuration>