<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="mongo" connectionString="mongodb://localhost/bikee_test" />
	</connectionStrings>
	<appSettings>
		<add key="testDatabaseName" value="bikee_test"/>
		<add key="FluentAssertions.TestFramework" value="nunit"/>
	</appSettings>
	<system.web>
		<!-- http://aspnetresources.com/tools/machineKey -->
		<machineKey validationKey="3F1D593267D608DE9815FD06502661FB6058126983D165D723AF7AD0A3299C2A17F5AE51D0783FC6F5972E6F9070B67F5238973F8C43F1AA7917A952A33A2675" 
								decryptionKey="5A71E4ECD9FAA55B7E6356183EB285204990D2A70BB5D12974B7E847C7C2A7C6" 
								validation="SHA1" 
								decryption="AES" />
		<membership defaultProvider="MongoMembershipProviderr">
			<providers>
				<clear/>
				<add name="MongoMembershipProviderr"
						 type="Bikee.Security.Mongo.MembershipProvider, Bikee.Security.Mongo"
						 applicationName="/"
						 connectionStringName="mongo" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="MongoRoleProvider">
			<providers>
				<clear/>
				<add name="MongoRoleProvider" 
						 type="Bikee.Security.Mongo.RoleProvider, Bikee.Security.Mongo" 
						 applicationName="/" 
						 connectionStringName="mongo" />
			</providers>
		</roleManager>
	</system.web>
</configuration>