@{
	ViewBag.Title = "Bikee Home Page";
}

<h2>@ViewBag.Message</h2>
<div id="indexPageContent" class="pageContent">
	@*<img id="homeImageMain" alt="bikee" width="320" height="240" src="../../Content/img/Cube_2012_wls.jpg" />*@
	<p>
		Bikee is a web portal for real bikers!
	</p>
</div>
